<div class="jumbotron">
  <h1>Editing Instructor </h1>
</div>

<%= render 'form' %>

<div class="jumbotron">
  <p>
    <%= link_to 'Show', @instructor, :class => 'btn btn-default ' %> |
    <%= link_to 'Back', instructors_path, :class => 'btn btn-default ' %>
  </p>
</div>
