<div class="jumbotron">
  <h1>Editing User</h1>
</div>

<%= render 'form' %>

<div class="jumbotron">
  <p>
    <%= link_to 'Show', @user, :class => 'btn btn-default '%> |
    <%= link_to 'Back', users_path, :class => 'btn btn-default ' %>
  </p>
</div>
