<div class="jumbotron">
  <h1>Editing Dance Class</h1>
</div>

<%= render 'form' %>

<div class="jumbotron">
  <p>
    <%= link_to 'Show', @dance_class, :class => 'btn btn-default ' %> |
    <%= link_to 'Back', dance_classes_path, :class => 'btn btn-default ' %>
  </p>
</div>
