<fieldset>
  <legend><h1>Editing Dance Class</h1></legend>
</fieldset>

<%= render 'form' %>

<div class="col-lg-offset-5 col-lg-7">
  <%= link_to 'Show', @dance_class %> |
  <%= link_to 'Back', dance_classes_path %>
</div>
