<fieldset>
  <legend><h1>Editing Studio</h1></legend>
</fieldset>

<%= render 'form' %>

<div class="col-lg-offset-5 col-lg-7">
  <%= link_to 'Show', @studio %> |
  <%= link_to 'Back', studios_path %>
</div>
