<div class="jumbotron">
  <h1>Editing Studio</h1>
</div>

<%= render 'form' %>

<div class="jumbotron">
  <p>
    <%= link_to 'Show', @studio, :class => 'btn btn-default '%> |
    <%= link_to 'Back', studios_path, :class => 'btn btn-default ' %>
  </p>
</div>
